
 /* nav bar  */
 #nav{
    height: 120px;
    width:1500px;
 }
 #dis{
    height: 40px;
    background-color: rgb(3, 3, 74);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
 }
 #dis>h4{
    margin-top: 0px;
    padding-top: 10px;
    margin-left: 300px;
 }
 #sec{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 #logo>img{
 width: 150px;
 height: 100px;
 margin-left: 30px;
 }
 #logo>a>img{
   width: 150px;
   height: 100px;
   margin-left: 30px;
   }
 #search{
    margin-left: 100px;
    padding-top: 10px;
 }
 #search>input{
width: 500px;
height: 50px;
border-radius: 50px;
 }
 #search>select{
width: 120px;
height: 50px;
border-radius: 50px;
 }
 #cont{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
 }
 #cont>h5{
    padding-right: 20px;
 }

 #sign{
    margin-left: 100px;
    padding-top: 60px;
 }
 
 #sign>a{
    padding-left: 40px;
    color: black;
 }
 
 #sign>a>img{
   height: 40px;
   margin-right: 10px;
 }
#top{
    margin-top: 80px;
    margin-bottom: 10px;
}
#top>img{
   width:1500px;
}

/* middle section */
h1{
   margin-left: 800px;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(59, 55, 55);
}
#brands{
   height: 400px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   display: flex;
   margin: auto;
}
#brnd>div{
   display: flex;
   margin-left: 50px;
}
#brnd1>div>img{
margin-right: 100px;
}
#off1>div{
   display: flex;
}
#off>img{
width: 500px;
height: 100%;
}
#off1>div>img{
   width: 90%;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   height: 250px;
   }


/* hottest toy css */
#hot{
   display: flex;
   margin-bottom: 20px;
}
#toyoff{
   width: 400px;
   height: 350px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#toyoff>img{
   width:100%;
   height: 100%;
}
#toys{
   display: flex;
   align-items: center;
   padding: 0px 50px;
   gap: 20px;
   margin-bottom: 10px;
}
#toys>div{
   width: 300px;
   height: 200px;
   margin: auto;
   padding-bottom: 150px;
   padding-left: 30px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   font-family:Arial, Helvetica, sans-serif;
  
}
#toys>div>img{
   width:70%;
   height: 100%;
}
#toys>div>div:nth-child(2){
   width: 100px;
   height: 100px;
}
/* gift ideas */
#ideas{
   display: flex;
   height: 380px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 #ideas>div{
   margin: auto;
   height: 200px;
   text-align: center;
   border-radius: 100%;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding: 50px 50px;
 }
 #ideas>div>a>img{
   width: 100%;
   height: 100%;
   border-radius: 100%;
 }
 #ideas>div>a{
   color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 #ideas>div>a>h4{
   margin-top: 50px;
 }

 /* Products */
 #prod,#skin,#beauty,#cart,#order{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   align-items: center;
   padding: 0px 50px;
   gap: 20px;
}
#prod>div,#skin>div,#beauty>div,#cart>div,#order>div{
   width: 300px;
   height: 200px;
   margin: auto;
   padding-bottom: 150px;
   padding-left: 30px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   font-family:Arial, Helvetica, sans-serif;
  
}
#prod>div>img,#skin>div>img,#beauty>div>img,#cart>div>img,#order>div>img{
   width:70%;
   height: 100%;
}

#disc{
   display: flex;
   margin-top: 20px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 #disc>div{
   width: 1000px;
   height: 250px;
   margin: auto;
   margin-left: 100px;
 }
 /* cloths */
 #cloth{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   height: 300px;
   display: flex;
 }
 #cloth>div{
   margin: auto;
   height: 100px;
   width:100px;
   text-align: center;
   border-radius: 100%;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding: 50px 50px;
 }
 #cloth>div>img{
   width: 100px;
   height: 100%;
   border-radius: 100%;
 }
 #cloth>div>h4{
   color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-top: 50px;
 }

#disc1{
   display: flex;
   margin-top: 20px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 #disc1>div{
   width: 1000px;
   height: 250px;
   margin: auto;
   margin-left: 40px;
 }
 #bot{
   border: 1px solid;
   margin-top: 50px;
   font-family: Arial, Helvetica, sans-serif;
  }
  #bot>div>input{
    height:40%;
    margin-top: 20px;
    margin-left: 10px;
  }
  #bot>div>h5:nth-child(4){
    margin-left: 800px;
  }
  #bot>div:nth-child(1){
    display: flex;
    background-color: rgb(101, 10, 186);
    color: white;
    padding-left: 10px;
    height: 50px;
  }
  #bot>div:nth-child(2){
    display: flex;
    background-color: rgb(101, 10, 186);
    color: white;
    height: 50px;
  }
  #bot>div>h6{
    margin-left: 20px;
  }
   /* Write all necessery css here  */
   .container{
      margin: auto;
      text-align: center;
      justify-content: center;
      justify-content: space-evenly ;
      margin-top: 50px;
     }
     .container>div{
       width: 400px;
       height: 500px;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       margin-left: 550px;
       text-align: center;
     }
     .conatainer>h2{
       padding-left: 500px;
     }
     .container>div>form>input{
       width:80%;
       margin-top: 10px;
       height: 50px;
       font-size: 40px;
     }
     .container>div>form>a>input{
       width:80%;
       margin-top: 10px;
       height: 50px;
       font-size: 40px;
     }
     /* electronics */
     #elec,#und25,#und50,#und100{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      align-items: center;
      padding: 0px 50px;
      gap: 20px;
   }
   #elec>div, #und25>div, #und50>div, #und100>div{
      width: 300px;
      height: 200px;
      margin: auto;
      padding-bottom: 150px;
      padding-top: 30px;
      padding-left: 30px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      font-family:Arial, Helvetica, sans-serif;
     
   }
   #elec>div>img ,  #und25>div>img,#und50>div>img,#und100>div>img{
      width:70%;
      height: 100%;
   }